<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Application Settings -->
    <add key="AppName" value="E-Commerce Application" />
    <add key="AppVersion" value="1.0.0" />
    <add key="Environment" value="Development" />
    
    <!-- API Configuration -->
    <add key="ApiBaseUrl" value="http://localhost:8080/ecommerce-backend/api" />
    <add key="ApiTimeout" value="30000" />
    
    <!-- Authentication Settings -->
    <add key="JwtTokenKey" value="ecommerce_jwt_token" />
    <add key="SessionTimeout" value="30000" />
    
    <!-- UI Settings -->
    <add key="ProductsPerPage" value="12" />
    <add key="DefaultProductImage" value="~/Images/default-product.jpg" />
    
    <!-- Feature Flags -->
    <add key="EnableUserRegistration" value="true" />
    <add key="EnableGuestCheckout" value="true" />
    <add key="EnableProductReviews" value="false" />
  </appSettings>

  <system.web>
    <!-- Compilation settings -->
    <compilation debug="true" targetFramework="4.8" />
    
    <!-- HTTP Runtime settings -->
    <httpRuntime targetFramework="4.8" />
    
    <!-- Authentication - Disable Forms auth for now to prevent redirects -->
    <authentication mode="None" />
    
    <!-- Authorization -->
    <authorization>
      <allow users="*" />
    </authorization>
    
    <!-- Session State -->
    <sessionState mode="InProc" timeout="30" />
    
    <!-- Custom Errors -->
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <!-- Default Documents -->
    <defaultDocument>
      <files>
        <clear />
        <add value="DefaultSimple.aspx" />
        <add value="Default.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- Error pages for debugging -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Remove redirect modules that might cause loops -->
    <modules>
      <remove name="DefaultAuthentication" />
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
</configuration>
